 <!DOCTYPE html>
        <html lang="en">
        
        <head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>Fair Foods at Lena Park</title>
        </head>
        
        <body>
            <div class="jumbotron">
                <h1 >Fair Foods at Lena Park</h1>
                <p>Use this page to reserve one or more bags of fresh produce. Pick on Tuesday afternoons at Lena Park. Each bag
                    costs $2 </p>
                <img src="images/fairFoods.jpg">
            </div>
        
            <div>
                How many grocery bags are you planning to purchase?
                <form action="post"  method ="/reservations">
                    Name:
                    <input type="text" name="firstName" value="Richard Hendricks">
                    Number:
                    <select>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        
                    </select>
        
                    <input type="submit" value="Save" />
                </form>
        
            </div>
        </body>
        
        </html>