<!DOCTYPE html>
        <html lang="en">
        
        <head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>Orders-Fair Foods</title>
        </head>
        <body>
            <h1>All orders</h1>

            <% for (let i=0; i < myOrders.lenght; i++){%>
                <tr action="/allOrders" method ="POST">
                    <td><%= myOrders[i].name %></td>
                    <td><%= myOrders[i].bags %></td>  
                </tr>
          <%  } %>
        </body>
        </html>
